-f https://download.pytorch.org/whl/torch_stable.html
fastapi
uvicorn
gunicorn
uvloop
httptools
wraps
datetime
pathlib
typing
numpy==1.21.5
pandas==1.4.1
random2
torch==1.8.1+cpu
torchvision==0.9.1+cpu
shutil
os
pickle
