-f https://download.pytorch.org/whl/torch_stable.html
fastapi
uvicorn
gunicorn
uvloop
httptools
wraps
datetime
pathlib
typing
numpy
pandas
random
torch==1.8.1+cpu
torchvision==0.9.1+cpu
shutil
os
pickle
